.spinner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 250px;
    padding-bottom: 250px; */
    /* background-color: #d8eef328; */
}

.spinner-gif{
    zoom:10%;
}