*{
    margin : 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
.main-container--nav{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    width: 100%;
    z-index: 3;
}
.primary--button{
    background-color: rgb(48, 200, 214);
    color: white;
    transition: 0.2s ease-in-out;
}
.primary--button:hover{
    background-color: rgb(35, 164, 176);
    color: white;
}

.secondary--button{
    background-color: white;
    color: #2b546a;
    transition: 0.2s ease-in-out;
    box-shadow: 0px 0px 10px 0px #d6d6d6;
}

.secondary--button:hover{
    background-color: #d6d6d6;
}

.nav-logo--image{
    margin: 1rem;
    width: 3.5rem;
}
.nav-button{
    margin: 1.6rem;
    margin-right: 0rem;
}
.nav-button--grp{
    margin-right: 2rem;
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    font-size: 12px;
    border-radius: 4px;
}